DirectoryIndex index.html index.php
Options -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine On
	# If installed in local or under a path say /getlancer-bidding	/: (otherwise, doesn't need RewriteBase)
	RewriteBase	/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{DOCUMENT_ROOT}/client/%{REQUEST_URI} !-f
	RewriteRule ^images/([a-zA-Z_]*)/([a-zA-Z_]*)/(.*)$ server/php/image.php?size=$1&model=$2&filename=$3 [NC]

	RewriteRule ^api/(.*)$ server/php/Slim/public/index.php [QSA,L]
	
	RewriteRule ^ipn/process_ipn/(.*)/(.*)/(.*)$ server/php/Slim/public/process_ipn.php?model=$1&id=$2&hash=$3 [QSA,L]
	RewriteRule ^download/([a-zA-Z_]*)/([0-9]*)/(.*)$ server/php/download.php?model=$1&id=$2&filename=$3 [QSA,L]
	
    RewriteRule ^scripts/(plugins.[a-z0-9]*.js)$ server/php/plugin.php?file=$1 [NC]

	RewriteCond %{QUERY_STRING} ^_escaped_fragment_=(.*)$
	RewriteRule ^$ server/php/Slim/public/seo.php$1 [QSA,L]
	
	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ https://%1%{REQUEST_URI} [R=301,QSA,NC,L]
	
	RewriteCond %{HTTPS} !=on
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	RewriteRule ^$ client/ [QSA,L]
	RewriteRule ^admin$ client/admin/index.html [QSA,L]
	RewriteRule ^(styles|fonts|images|api_explorer|admin|scripts)/(.*)$ client/$1/$2 [QSA,L]
	RewriteRule ^(wp-content)/(.*)$ client/wp-content/wp-content/$1/$2 [QSA,L]
	RewriteRule ^(wp-includes)/(.*)$ client/wp-content/$1/$2 [QSA,L]
	RewriteRule ^favicon.ico$ client/favicon.ico [L]
	RewriteRule ^apple-touch-icon(.*)$ client/apple-touch-icon$1 [L]
	# Don't rewrite files or directories
	 RewriteCond %{REQUEST_FILENAME} -f [OR]
	 RewriteCond %{REQUEST_FILENAME} -d
	 RewriteRule ^ - [L]
	# Rewrite everything else to index.html to allow html5 state links
	 RewriteRule ^ client/index.html [L] 
</IfModule>

# gzip
<IfModule mod_deflate.c>
    	AddOutputFilterByType DEFLATE text/javascript application/x-javascript text/css text/html
</IfModule>

# browser caching
<IfModule mod_expires.c>
	ExpiresByType text/css "access plus 1 month"
	ExpiresByType text/javascript "access plus 1 month"
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
#	ExpiresByType video/x-flv "access plus 1 month"
	ExpiresByType application/x-shockwave-flash "access plus 1 month"

	# special MIME type for icons
	AddType image/vnd.microsoft.icon .ico
	# now we have icon MIME type, we can use it
	# my favicon doesn't change much
	ExpiresByType image/vnd.microsoft.icon "access plus 3 months"
</IfModule>
<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "https://137thy.com"
    </IfModule>
</FilesMatch>